<!DOCTYPE html>
<html ng-app="justmon">
<head lang="en">
    <meta charset="UTF-8">
    <title>Just Monitor</title>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link rel="stylesheet" href="style.css"/>
    <meta name="viewport" content="initial-scale=1"/>
</head>
<body ng-controller="StatusCtrl" ng-cloak>
<div layout="column" layout-fill>
    <md-toolbar ng-class="{'md-warn': !status.ok}">
        <div class="md-toolbar-tools">
            <span flex></span><span>Just Monitor</span><span flex></span>
        </div>
    </md-toolbar>

    <md-content layout-padding>
        <md-grid-list md-cols-sm="1" md-cols-md="2" md-cols-gt-md="4" md-row-height="4rem" md-gutter="1em">
            <md-grid-tile ng-repeat="host in status.hosts track by host.name"
                          ng-init="chart=false;hover=false;"
                          ng-click="chart=!chart"
                          ng-mouseenter="hover=true"
                          ng-mouseleave="hover=false"
                          ng-class="{'pointer':!chart, 'md-whiteframe-z1':!chart&&hover, 'chart':chart}">
                          <!--md-colspan-sm="1" md-colspan="{{chart ? 2 : 1}}">-->

                <div ng-switch on="chart">
                    <div class="host-list-item" ng-switch-when="false">
                        <md-icon md-svg-icon="{{host.status ? 'smile' : 'sad'}}"
                                 ng-class="host.status ? 'ok' : 'warn'"
                                 alt="{{host.status ? 'OK' : 'FAIL'}}">
                        </md-icon>
                        <div class="host-list-item-text">
                            <h3>{{host.name}}</h3>
                            <p>{{host.last | date:'short'}}</p>
                        </div>
                    </div>

                    <div class="host-list-item" ng-switch-when="true">
                        <md-button class="md-icon-button" aria-label="Back">
                            <md-icon md-svg-icon="back"></md-icon>
                        </md-button>
                        <timeline host="host"></timeline>
                    </div>

                </div>
            </md-grid-tile>
        </md-grid-list>
    </md-content>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js"></script>
<script src="https://www.google.com/jsapi"></script>
<script src="justmon.js"></script>
</body>
</html>